<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
  />

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <title>Inferno</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class= "nav-left">
           <span> Inferno Smart Healthcare</span>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
        
    
    <div class="content max-width-1 m-auto">
        <div class="content-left">
              <h1>Live a long, healthy,<span class="text-info"> disease-free Life</span></h1>
              <p class="lead my-4">
                In your fight against diseases, you are not alone. We are always with you.
                </p>
            <br>
            <br>
            <br>
            <div>
                <a class="btn btn-success" href="/register" role="button">Register for Admin</a>
                <p>If already registered for admin, then login</p>
                <a class="btn btn-success" href="/login" role="button">Login for Admin</a>
            </div>
        </div>

        <div class="content-right" >
            <img src="/img/home1.jpg" alt="iBlog">
            <!-- <button type="button" class="btn btn-success">Next</button> -->
            <br>
            <a class="btn btn-success" href="/register" role="button">Register for Patient</a>
            <p>If already registered for patient, then login</p>
            <a class="btn btn-success" href="/login" role="button">Login for Patient</a>
<br>
<br>
            
        </div>
    </div>
    <!-- Boxes -->
    <section class="p-5">
        <div class="container">
          <div class="row text-center g-4">
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-laptop"></i>
                  </div>
                  <h3 class="card-title mb-3"> ONLINE MEDICAL CHECKUP</h3>
                  <p class="card-text">
                   Patient can give their symptoms and our website will generate the medical report.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-secondary text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-person-square"></i>
                  </div>
                  <h3 class="card-title mb-3">BOOK HOSPITAL BED
                </h3>
                  <p class="card-text">
               Find all available hospital beds at your locality in no time
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md">
              <div class="card bg-dark text-light">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <i class="bi bi-truck"></i>
                  </div>
                  <h3 class="card-title mb-3">BOOK AMBULANCE</h3>
                  <p class="card-text">
                       You can Book Ambulance at low cost in no time for the patient
                  </p>
                </div>
              </div>
            </div>
        </div>
    </div>
  </section>
  <section class="p-5">
    <div class="container">
      <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-secondary text-light">
                  <div class="card-body text-center">
                    <div class="h1 mb-3">
                      <i class="bi bi-gift"></i>
                    </div>
                    <h3 class="card-title mb-3"> FIND BLOOD </h3>
                    <p class="card-text">Connect You with nearby Blood donor  </p>
                  </div>
                </div>
              </div>
              <div class="col-md">
                <div class="card bg-dark text-light">
                  <div class="card-body text-center">
                    <div class="h1 mb-3">
                      <i class="bi bi-shop-window"></i>
                    </div>
                    <h3 class="card-title mb-3">FIND OXYGEN CYLINDER </h3>
                    <p class="card-text">
                       We wil manage oxygen for you by any cost. </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
 </div>
 
    <!-- Contact & Map -->
    <section class="p-5">
        <div class="container">
          <div class="row g-4">
            <div class="col-md">
              <h2 class="text-center mb-4">Contact Info</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item">
                  <span class="fw-bold">Main Location: </span>Kolkata
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Company Phone:</span> (555) 555-5555
                </li>
     
                <li class="list-group-item">
                  <span class="fw-bold">Company Email:</span> (555)
                  enroll@frontendbc.test
                </li>
   
              </ul>
            </div>

          </div>
        </div>
      </section>
  
      <!-- Footer -->
      <footer class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
          <p class="lead">Copyright &copy; 2021 Agnik </p>
  
          <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
          </a>
        </div>
      </footer>

  

</body>
</html>