<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <title>Symptomate</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class= "nav-left">
           <span> Inferno Smart Healthcare</span>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
        
    
    <div class="content max-width-1 m-auto">
        <div class="content-left">
            <h1>Hello!
            </h1>
            <p style="padding-top: 20px;">In your fight against diseases, you are not alone. We are always with you.

            </p>
            <br>
            <br>
            <br>
            <br>
            <div>
                <a class="btn btn-success" href="/register" role="button">Register for Admin</a>
                <p>If already registered for admin, then login</p>
                <a class="btn btn-success" href="/login" role="button">Login for Admin</a>
            </div>
        </div>

        <div class="content-right" >
            <img src="/img/home1.jpg" alt="iBlog">
            <!-- <button type="button" class="btn btn-success">Next</button> -->
            <br>
            <a class="btn btn-success" href="/register" role="button">Register for Patient</a>
            <p>If already registered for patient, then login</p>
            <a class="btn btn-success" href="/login" role="button">Login for Patient</a>
<br>
<br>
            
        </div>
    </div>
    <!-- <div class="max-width-1 m-auto">
    <hr>
    </div>
 <div class="home-articles max-width-1 m-auto">
     <div class="home-article">
         <h2>Featured Articles</h2>
     </div>-->
 </div>
    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
</body>
</html>