<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <title>Symptomate-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class="nav-left">
           <span> Symptomate</span>
            <ul>
                <li><a href="/index">Introduction</a></li>
                <li><a href="/patient">Patient</a></li>
                <li><a href="/Symptoms">Symptoms</a></li>
                <li><a href="/Regions">Regions</a></li>
                <li><a href="/Interview">Interviews</a></li>
                <li><a href="/Result">Results</a></li>                 
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
        
    

   <div class="max-width-1 m-auto">
       <h2>Recommendation    </h2>
       <h3>Consult a doctor</h3>
       <p>Your symptoms may require medical evaluation. Schedule an appointment with your doctor. If your symptoms get worse, see a doctor immediately.</p>
       <br>
       <h3>Recommended Specialist</h3>
       <p>General Practitioner</p>
       <br>
       <h3>Suggested Consulter form</h3>
       <p>Chat</p>

    <hr>
    <h2>Results</h2>
    <p>Please note that the list below may not be complete and is provided solely for informational purposes and is not a qualified medical opinion.
    </p>

    <h4> Help us improve Symptomate</h4>
    <br>
    <p>Please note that the information provided by this tool is provided solely for educational purposes and is not a qualified medical opinion. This information should not be considered advice or an opinion of a doctor or other health professional about your actual medical state, and you should see a doctor for any symptoms you may have. If you are experiencing a health emergency, you should call your local emergency number immediately to request emergency medical assistance.</p>
    </div>

    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
</body>
</html>