<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <link rel="stylesheet" href="/stylesheets/mobile.css">
    <title>Inferno-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class= "nav-left">
           <span> Inferno</span>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>          
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
        
    
    <div class="content max-width-1 m-auto">
        <div class="content-left">
            <h1>Sorry!
            </h1>
            <p style="padding-top: 20px;">Try Again  :)
             </p>
             <p>Thank you</p>
        </div>

        <div class="content-right" >
            <a class="btn btn-success" href="/register" role="button">Register</a>
            <p>If already registered, then login</p>
            <a class="btn btn-success" href="/login" role="button">Login</a>
        </div>
    </div>
    <!-- <div class="max-width-1 m-auto">
    <hr>
    </div>
 <div class="home-articles max-width-1 m-auto">
     <div class="home-article">
         <h2>Featured Articles</h2>
     </div>-->
 </div>
    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
</body>
</html>