<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <title>Symptomate-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class="nav-left">
           <span> Symptomate</span>
            <ul>
              <li><a href="/diagnosis">Introduction</a></li>
              <li><a href="/patient">Patient</a></li>
              <li><a href="/Symptoms">Symptoms</a></li>
              <li><a href="/ques">Interviews</a></li>
              <li><a href="/Result">Results</a></li>                      
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
    <div class=" content max-width-1 m-auto ">
        <div class="content-left"  >
        <form>
            <p>I’m overweight or obese</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">no</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                <label class="form-check-label" for="inlineRadio3">dont know</label>
              </div>
            </form>
<br>

        <form>
            <p>I smoke cigarettes            </p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                <label class="form-check-label" for="inlineRadio4">yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                <label class="form-check-label" for="inlineRadio5">no</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6" >
                <label class="form-check-label" for="inlineRadio6">dont know</label>
              </div>
            </form>

<br>
        <form>
            <p>I’ve recently suffered an injury
            </p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">no</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                <label class="form-check-label" for="inlineRadio3">dont know</label>
              </div>
            </form>

        <br>
        <form>
            <p> I have high cholesterol

            </p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">no</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                <label class="form-check-label" for="inlineRadio3">dont know</label>
              </div>
            </form>
<br>

    </div>
    <div class="content-right" style="padding-top: 350px;">
        <a class="btn btn-success" href="/meoryou" role="button">Prev</a>
        <a class="btn btn-success" href="/Symptoms" role="button">Next</a>
    </div>

    <!-- <div class="max-width-1 m-auto">
    <hr>
    </div>
 <div class="home-articles max-width-1 m-auto">
     <div class="home-article">
         <h2>Featured Articles</h2>
     </div>-->
 </div>
    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
</body>
</html>