<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <title>Symptomate-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class="nav-left">
           <span> Symptomate</span>
            <ul>
              <li><a href="/index">Introduction</a></li>
              <li><a href="/patient">Patient</a></li>
              <li><a href="/Symptoms">Symptoms</a></li>
              <li><a href="/Regions">Regions</a></li>
              <li><a href="/Interview">Interviews</a></li>
              <li><a href="/Result">Results</a></li>                     
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
        
    <div style="padding-left: 45px;">
      
      <!-- <a href="/Questions">Get Details</a> -->
      <h3>Please check all the statements below that apply to them.</h3>
        <h4>Select one answer in each row.</h4>
</div>
<hr>
<div style="padding-left: 45px;">
<% if(details!=null) { %>

    <!-- <p>description</p> -->
    <!-- <th>alternatives </th> -->


<% details.forEach(function(item){ %>

    <h4><%= item.description%></h4>
<form method="POST" action="/Result">
<select name="answers" id="answers"> 
 
  <% for(let ele of item.alternatives) { %>
    <option value=" <%= ele.text  %>" > <%= ele.text  %></option>

    <% } %>
</select>


<% }) %>
<% } %>
<button >   Submit </button> 
</form>
    </div>

    <div id="result"></div> 
    <!-- <div class="max-width-1 m-auto">
    <hr>
    </div>
 <div class="home-articles max-width-1 m-auto">
     <div class="home-article">
         <h2>Featured Articles</h2>



         
     </div>-->
 </div>
    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
 <script>
    function displayRadioValue() { 
            var ele = document.getElementsByName('gender'); 
              
            for(i = 0; i < ele.length; i++) { 
                if(ele[i].checked) 
                document.getElementById("result").innerHTML
                        = "Selected input: "+ele[i].value; 
            } 
        } 

 </script>

</body>
</html>