<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <title>Symptomate-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class="nav-left">
           <span> Symptomate</span>
            <ul>
              <li><a href="/diagnosis">Introduction</a></li>
              <li><a href="/patient">Patient</a></li>
              <li><a href="/Symptoms">Symptoms</a></li>
              <li><a href="/ques">Interviews</a></li>
              <li><a href="/Result">Results</a></li>                     
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>

    <div class="max-width-1 m-auto">
      <!-- <a href="/Questions">Get Details</a> -->
      <h3>Please check all the statements below that apply to them.</h3>
        <h4>Select one answer in each row.</h4>
<hr>
<% if(details!=null) { %>


<% details.forEach(function(item){ %>

    <h4><%= item.description%></h4>
<form method="POST" action="/Result">
<select name="response" id="response"> 
 
  <% for(let ele of item.alternatives) { %>
    <option > <%= ele.text  %></option>

    <% } %>
</select>


<% }) %>
<% } %>
<button >   Submit </button> 
</form>
    </div>

    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>

</body>
</html>



