<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <title>Inferno-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class="nav-left">
           <span> Inferno</span>
            <ul>
                <li><a href="/diagnosis">Introduction</a></li>
                <li><a href="/patient">Patient</a></li>
                <li><a href="/Symptoms">Symptoms</a></li>
                <li><a href="/ques">Interviews</a></li>
                <li><a href="/Result">Results</a></li>                 
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>
        
    <div class="max-width-1 m-auto canvas_div_pdf">
        <h3>User answers are</h3>
        <% if(response !=null) { %>
        
        <p><%= response %></p>

        <% } %>
        <div>
        
            <h2>Recommendation    </h2>
            <h3>Consult a doctor</h3>
            <p>Your symptoms may require medical evaluation. Schedule an appointment with your doctor. If your symptoms get worse, see a doctor immediately.</p>
            <h3>Recommended Specialist</h3>
            <p>General Practitioner</p>
            <h3>Suggested Consulter form</h3>
            <p>Chat</p>
                 <h2>Results</h2>
         <p>Please note that the list below may not be complete and is provided solely for informational purposes and is not a qualified medical opinion.
         </p>
        
         <h4> Help us improve Symptomate</h4>
         <br>
         <p>Please note that the information provided by this tool is provided solely for educational purposes and is not a qualified medical opinion. This information should not be considered advice or an opinion of a doctor or other health professional about your actual medical state, and you should see a doctor for any symptoms you may have. If you are experiencing a health emergency, you should call your local emergency number immediately to request emergency medical assistance.</p>
         <button onclick="getPDF()">Generate pdf</button>
         </div>

         <a href="/patient_dashboard" class="btn btn-primary btn-lg" role="button">
            Back to DashBoard
        </a>

 </div>



  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script>
        	function getPDF(){

var HTML_Width = $(".canvas_div_pdf").width();
var HTML_Height = $(".canvas_div_pdf").height();
var top_left_margin = 15;
var PDF_Width = HTML_Width+(top_left_margin*2);
var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
var canvas_image_width = HTML_Width;
var canvas_image_height = HTML_Height;

var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;


html2canvas($(".canvas_div_pdf")[0],{allowTaint:true}).then(function(canvas) {
    canvas.getContext('2d');
    
    console.log(canvas.height+"  "+canvas.width);
    
    
    var imgData = canvas.toDataURL("image/jpeg", 1.0);
    var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
    pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
    
    
    for (var i = 1; i <= totalPDFPages; i++) { 
        pdf.addPage(PDF_Width, PDF_Height);
        pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
    }
    
    pdf.save("HTML-Document.pdf");
});
};
    </script>
</body>
</html>