<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/utils.css">
    <title>Symptomate-Check your symptoms</title>
</head>
<body>
    <nav class="nav max-width-0 m-auto">
        <div class="nav-left">
           <span> Symptomate</span>
            <ul>
                <li><a href="/diagnosis">Introduction</a></li>
                <li><a href="/patient">Patient</a></li>
                <li><a href="/Symptoms">Symptoms</a></li>
                <li><a href="/ques">Interviews</a></li>
                <li><a href="/Result">Results</a></li>                 
            </ul>

        </div>
        <div class="nav-right">
            <ul>
                <li>For Business</li>
                <li>English</li>
            </ul>
        </div>

    </nav>

    <div class="content max-width-1 m-auto">
        <div class="content-left" style="padding-left: 20px; padding-bottom: 190px;">
            <h1>Add Symptoms</h1>
            <br>
            <p>Please use the search or click on the body. Add as many symptoms as you can for the most accurate results.</p>
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
                </div>
                <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Seach , eg: headache">
              </div>

        </div>

        <div class="content-right" style="padding-top: 350px;">
            <a class="btn btn-success" href="/patient" role="button">Prev</a>
            <br>
            <a class="btn btn-success" href="/ques" role="button">Next</a>
        </div>
    
        
    

    <!-- <div class="max-width-1 m-auto">
    <hr>
    </div>
 <div class="home-articles max-width-1 m-auto">
     <div class="home-article">
         <h2>Featured Articles</h2>
     </div>-->
 </div>
    <div class="footer">
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
  </div>
</body>
</html>