@media only screen and (max-width: 1200px) {
    .navigation {
      flex-direction: column;
      margin-bottom: 23px;
    }
  
    .nav-left {
      flex-direction: column;
      text-align: center;
    }
  
  
  
    .home-article {
      flex-direction: column;
    }
  
    .home-article-img {
      text-align: center;
    }

  }
  @media only screen and (max-width: 787px) {  
    .content {
      padding-top: 2rem;
      padding-bottom: 4rem;
      height: 400px;
      font-size: smaller;
      background-color: #e9e4d4;
      display: flex;
      margin-top:16px;
      height: 80%;
    }
  .content-right p{
    display: none;
  }
  .content-left p{
    display: none;
  } 
  .content-left a:first-child {
    margin-top: 4rem;
  }
  .content-left a{
    width:95px;
    margin-bottom: 2rem;
  }
  .content-right{
    padding-top: 10rem;
    align-items: center;

  }
  .content-right a{
    width:95px;
    margin-bottom: 2rem;
  }
    .content-right img{
      height: 160px;
      border: 1px solid white;
      border-radius: 200px;
      margin-bottom: 10rem;
    }
  }
  
  