* {
  margin: 0;
  padding: 0;
}

.nav {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--font2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#152542;
  position: sticky;
  width: 100%;
}
.nav-left span{
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.nav-left ,
.nav-right{
  display: flex;
}
.nav-left ul ,
.nav-right ul 
{
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 0 77px;
}
.nav-left ul li ,
.nav-right ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font-2);
  color: white;
 
}
.nav-left ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;   
}
.nav-left ul li a:hover{
    
    color: var(--main-bg-color);
    font-weight: bolder;
}
.quesstyle{
  height: 800px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.content {
  padding-top: 2rem;
  padding-bottom: 7rem;
  font-size: larger;
  background-color: #e9e4d4;
  display: flex;
  margin-top:32px;
  height: 100%;
}
.content-left{
  padding-left: 3rem;
  font-family: var(--font1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top:140px;
}
.content-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.content-right img{
  height: 355px;
  border: 2px solid white;
  border-radius: 200px;
  margin-bottom: 7rem;
}


.home-articles{
  height: 900px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  background-color:	#f9f1f1;
  color: grey;
  text-align:center;
}
.footer p {
  padding-top: 8px;
}

